@font-face {
    font-family: "Lobster-reg";
    src: url("../fonts/LobsterTwo-Regular.woff2") format("woff2"), url("../fonts/LobsterTwo-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Lobster-bold";
    src: url("../fonts/LobsterTwo-Bold.woff2") format("woff2"), url("../fonts/LobsterTwo-Bold.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Lobster-bolditalic";
    src: url("../fonts/LobsterTwo-Bolditalic.woff2") format("woff2"), url("../fonts/LobsterTwo-Bolditalic.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "MyriadPro-reg";
    src: url("../fonts/MyriadPro-Regular.woff2") format("woff2"), url("../fonts/MyriadPro-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Poppins-medium";
    src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Poppins-reg";
    src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Poppins-semibold";
    src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Raleway-reg";
    src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Sacramento-reg";
    src: url("../fonts/Sacramento-Regular.woff2") format("woff2"), url("../fonts/Sacramento-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Sans-bold";
    src: url(../fonts/SourceSansPro-Bold.woff2) format("woff2"), url(../fonts/SourceSansPro-Bold.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Sans-semibold";
    src: url(../fonts/SourceSansPro-SemiBold.woff2) format("woff2"), url(../fonts/SourceSansPro-SemiBold.woff) format("woff");
    font-display: swap;
}