.wrapper {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

button {
    background-color: transparent;
    padding: 0;
    border: none;
}