@import "./reset.scss";
@import "./fonts.scss";
@import "./settings.scss";
// wr-banner
.wr-banner {
    background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../media/bg/banner.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0 0, center top;
    background-size: cover;
    header {
        padding-top: 26px;
    }
    .wrapper {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.webp .wr-banner {
    background-size: cover;
}

.logo {
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 0px;
    transform: translateY(45%);
}

.search-login {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 0.13px;
    padding-bottom: 26px;
    white-space: nowrap;
    .phone-icon {
        width: 30px;
        height: 30px;
        display: none;
        svg {
            width: inherit;
            height: inherit;
            fill: #fff;
        }
    }
    a {
        &:focus {
            text-shadow: 1px 1px 2px black;
        }
    }
    p {
        color: #fff;
        line-height: 1.07;
        margin-right: 139px;
        a {
            color: #ff3a2d;
        }
    }
    .link-login {
        display: flex;
        align-items: center;
        width: 64px;
        margin-right: 40px;
        svg {
            width: 18px;
            height: 18px;
            margin-right: 13px;
        }
    }
}

.search-container {
    display: flex;
    flex-wrap: nowrap;
    height: 28px;
    margin-right: 168px;
    input {
        width: 170px;
        height: 100%;
        opacity: 0.7;
        border-radius: 6px 0 0 6px;
        background-color: #fff;
        box-sizing: border-box;
        padding: 7px 35px 10px 15px;
        font-family: "Sans-semibold", sans-serif;
    }
    button {
        background-color: #ff3a2d;
        width: 30px;
        height: 100%;
        border-radius: 0 6px 6px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            width: 14px;
            height: 13px;
            &:hover {
                transform: scale(1.2);
                transition: 2s;
            }
        }
    }
}

.header-nav {
    background-color: #fff;
    font-family: "Sans-bold", sans-serif;
    display: flex;
    padding: 16px 0;
    position: relative;
    justify-content: flex-end;
    a {
        color: #222;
        z-index: 100;
    }
    svg {
        width: 23px;
        height: 19px;
    }
    ul {
        width: 603px;
        display: flex;
        text-transform: uppercase;
        padding: 0;
        align-items: center;
    }
    li {
        list-style: none;
        z-index: 100;
        margin-left: 2%;
    }
    .link-btn {
        width: 120px;
        height: 28px;
        background-color: #ff3a2d;
        text-transform: uppercase;
        color: #fff;
        border-radius: 0 6px 0 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            transform: scale(1.05);
            transition: 2s;
        }
    }
}

.header-nav::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-left: 9999px solid #fff;
    box-shadow: 9999px 0 0 #fff;
}

.intro {
    max-width: 100%;
    text-align: center;
}

@media screen and(max-width: 1110px) {
    .wr-menu {
        .container-menu {
            justify-content: center;
        }
    }
}

.intro-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    h2 {
        line-height: 1.1;
        font-family: "Sacramento-reg", sans-serif;
        color: #00c5d2;
        font-size: 36px;
    }
    h3 {
        font-family: "Lobster-bold", sans-serif;
        color: #fff;
        font-size: 48px;
        text-transform: capitalize;
        margin-top: 24px;
        margin-bottom: 34px;
    }
    p {
        font-family: "Poppins-medium", sans-serif;
        font-size: 16px;
        color: #fff;
        line-height: 1.75;
        letter-spacing: 0.1px;
        text-align: center;
        margin-bottom: 60px;
        max-width: 800px;
    }
    .intro-btn {
        font-family: "Poppins-semibold", sans-serif;
        text-transform: uppercase;
        font-size: 16px;
        display: flex;
        .btn-about {
            width: 150px;
            height: 50px;
            border-radius: 6px;
            border: solid 2px #ff3a2d;
            padding: 17px 33px;
            box-sizing: border-box;
            margin-right: 22px;
        }
        .btn-menu {
            width: 150px;
            height: 50px;
            border-radius: 6px;
            border: solid 2px #ff3a2d;
            padding: 17px 34px;
            box-sizing: border-box;
            margin-left: 22px;
        }
        & :hover {
            background-color: #ff3a2d;
        }
    }
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 3.5px;
    background-color: #fff;
    margin-right: 8px;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    height: 20px;
    background-color: #ff3a2d;
}

.swiper-pagination {
    position: inherit;
    padding-bottom: 35px;
    & :hover {
        background-color: #ff3a2d;
    }
}

// wr-preview
.wr-preview {
    padding: 137px 0;
    .wrapper {
        display: flex;
    }
}

.welcome {
    padding-top: 10px;
    max-width: 652px;
    margin-right: 150px;
    .heading {
        display: block;
        h2 {
            font-family: "Lobster-bolditalic", sans-serif;
            font-size: 48px;
        }
        h3 {
            font-family: "Lobster-bolditalic", sans-serif;
            font-size: 28px;
            margin-bottom: 12px;
        }
    }
    p {
        margin-top: 32px;
        line-height: 2;
    }
}

.book-table {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-width: 370px;
    padding: 80px 20px;
    background-color: #ff3a2d;
    font-family: "Poppins-reg";
    font-size: 16px;
    position: relative;
    form {
        display: flex;
        flex-direction: column;
        input {
            padding: 10px 25px;
            box-sizing: border-box;
            max-height: 38px;
            margin-bottom: 19px;
            color: gray;
            &:focus::-webkit-input-placeholder {
                color: transparent;
            }
            &:hover {
                cursor: pointer;
            }
        }
        .div-select {
            width: inherit;
            background-color: #fff;
            max-height: 38px;
            margin-bottom: 19px;
        }
        select {
            width: calc(100% - 27px);
            max-height: 38px;
            color: gray;
            padding: 10px 25px;
            margin-bottom: 20px;
            border: none;
            &:hover {
                cursor: pointer;
            }
        }
        button {
            padding: 12px 106px;
            background-image: linear-gradient(to top, #00fff0, #40b1e5);
            font-family: "Poppins-reg", sans-serif;
            font-size: 16px;
            color: #fff;
            line-height: 0.94;
            &:hover {
                background: rgba(0, 0, 0, 0);
                // color: #00c5d2;
                box-shadow: inset 0 0 0 3px #00c5d2;
            }
        }
    }
    h2 {
        font-family: "Lobster-bold", sans-serif;
        font-size: 24px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        svg {
            margin: 0 10px;
            width: 23px;
            height: 23px;
        }
    }
    img {
        max-width: 358px;
        max-height: 275px;
        position: absolute;
        z-index: -1;
        bottom: -132px;
        right: -159px;
        overflow: hidden;
    }
}

// wr-promotions
.wr-promotions {
    padding: 45px 0 109px;
}

.promotions-card {
    font-family: "Lobster-reg", sans-serif;
    color: #1c1c1c;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    .cards-image {
        height: 230px;
        overflow: hidden;
        border-radius: 60px 0;
        &.even {
            transform: scaleX(-1);
        }
        img {
            max-width: 100%;
            height: 100%;
            object-fit: cover;
        }
        margin-bottom: 31px;
    }
    p {
        font-size: 24px;
        span {
            font-size: 16px;
            text-decoration: line-through;
        }
    }
}

.button-position {
    .prev-arrow {
        left: -25px;
    }
    .next-arrow {
        right: -25px;
    }
}

// wr-about
.wr-about {
    .wrapper {
        padding-top: 115px;
        display: flex;
    }
}

.about-text {
    flex-shrink: 0;
    max-width: 790px;
    padding-top: 39px;
    p {
        line-height: 2;
        margin: 35px 0 50px;
    }
    .heading {
        align-items: flex-start;
        svg {
            fill: #ff3a2d;
        }
    }
}

.about-image {
    margin-left: 39px;
    max-height: 730px;
    min-width: 600px;
    overflow: visible;
    img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
    }
}

.block {
    padding-left: 16px;
    .block__title {
        font-family: "Poppins-medium", sans-serif;
        font-size: 16px;
        color: #222;
        margin-bottom: 25px;
        margin-right: 75px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .accordion {
        display: flex;
        flex-wrap: nowrap;
        cursor: pointer;
    }
    .accordion span {
        position: relative;
    }
    .accordion span::before,
    .accordion span::after {
        content: '';
        position: absolute;
        width: 7px;
        height: 1px;
        background-color: #222;
        font-size: 16px;
        top: 20%;
        transition: all 0.3s ease 0s;
    }
    .accordion span::before {
        transform: rotate(40deg);
        left: 0px;
    }
    .accordion span::after {
        transform: rotate(-40deg);
        left: 5.5px;
    }
    .accordion.active {
        span::after {
            transform: rotate(40deg);
            background-color: #00c5d2;
        }
        span::before {
            transform: rotate(-40deg);
            background-color: #00c5d2;
        }
        .block__title {
            color: #00c5d2;
            margin-bottom: 0;
        }
    }
    p {
        display: none;
        margin: 1px 0 28px;
        padding-left: 15px;
    }
}

// wr-delivary
.wr-delivary {
    background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../media/bg/delivary.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0 0, center top;
    background-size: cover;
    padding: 200px 0;
    h3 {
        color: #fff;
    }
}

.webp .wr-delivary {
    background-size: cover;
}

.information-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    position: relative;
}

.information-card {
    position: relative;
    padding: 80px 40px 44px;
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    flex-basis: 32%;
    h4 {
        font-family: "Lobster-reg", sans-serif;
        color: #ff3a2d;
        font-size: 28px;
    }
    p {
        margin-top: 15px;
        text-align: center;
        line-height: 2;
    }
    span {
        position: absolute;
        top: 0px;
        transform: translateY(-50%);
        width: 100px;
        height: 80px;
        overflow: hidden;
        box-shadow: 0px 2px 8px 0 rgba(33, 30, 31, 0.5);
        background-color: #fff;
        border-radius: 0 30px 0 30px;
        padding: 10px 20px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

// wr-menu
.wr-menu {
    .hide {
        display: none;
    }
    .wrapper {
        padding: 188px 15px 110px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .button-menu {
        width: 200px;
        height: 70px;
        margin-top: 25px;
        border-radius: 6px;
        background-color: #ff3a2d;
        font-family: "Poppins-semibold", sans-serif;
        font-size: 16px;
        color: #fff;
        &:hover {
            background: rgba(0, 0, 0, 0);
            color: #ff3a2d;
            box-shadow: inset 0 0 0 3px #ff3a2d;
            transition: 2s;
        }
    }
}

.filter-menu {
    min-width: 698px;
    margin: 79px 0 85px 0;
    display: flex;
    justify-content: space-between;
    button {
        font-family: "Poppins-semibold", sans-serif;
        font-size: 20px;
        &.active {
            color: #ff3a2d;
            text-decoration: underline;
        }
        &:focus {
            text-shadow: 1px 1px 2px black;
        }
    }
}

.container-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-card {
    display: flex;
    width: 540px;
    flex-grow: 0;
    margin-bottom: 45px;
    .food-image {
        width: 97px;
        height: 101px;
        overflow: hidden;
        border-radius: 20px 0;
        margin-right: 15px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .card-text {
        padding: 9px 0 13px 0;
        p {
            max-width: 320px;
            font-size: 14px;
            line-height: 1.86;
            margin-top: 15px;
        }
        .name-food {
            font-family: "Poppins-semibold", sans-serif;
            font-size: 18px;
            color: #222;
        }
    }
    .price {
        font-family: "Poppins-semibold", sans-serif;
        color: #222;
        font-size: 24px;
        margin-left: auto;
        margin-top: 12px;
    }
}

// wr-stuff
.wr-stuff {
    padding: 110px 0;
    .button-position {
        .prev-arrow {
            left: -70px;
        }
        .next-arrow {
            right: -80px;
        }
    }
    .ellipse-top {
        position: absolute;
        top: 0px;
        transform: translate(-55%, -35%);
        width: 320px;
        height: 320px;
        border-radius: 50%;
        background-image: linear-gradient(to top, #00fff0, #40b1e5);
    }
    .ellipse-bottom {
        position: absolute;
        z-index: -1000;
        bottom: 0;
        right: 0;
        transform: translate(50%, 55%);
        width: 167px;
        height: 167px;
        border-radius: 50%;
        background-image: linear-gradient(to top, #00fff0, #40b1e5);
    }
}

.stuff-container {
    margin-top: 65px;
    padding: 15px;
}

.stuff-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lobster-reg", sans-serif;
    box-shadow: 0 0 6px 0 rgba(33, 30, 31, 0.4);
    background-color: #fff;
    padding-bottom: 40px;
    .gradient:hover {
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.7;
            background-image: linear-gradient(to top, #00fff0, #40b1e5);
        }
        .button-stuff-card {
            display: block;
        }
    }
    .stuff-img {
        width: 100%;
        max-width: 100%;
        height: 436px;
        overflow: hidden;
        position: relative;
        img {
            max-width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .button-stuff-card {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
            z-index: 100;
            button {
                width: 55px;
                height: 55px;
                margin: 0 0 0 19px;
                padding: 17px 17px 17px 16px;
                box-shadow: 0px 2px 8px 0 rgba(33, 30, 31, 0.5);
                background-color: #ffffff;
                border-radius: 50%;
                &:hover {
                    fill: #ff3a2d;
                }
                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    h2 {
        margin-top: 37px;
        font-size: 24px;
        color: #00c5d2;
    }
    h3 {
        margin-top: 11px;
        font-size: 18px;
    }
    .follow {
        font-size: 16px;
        margin-top: 26px;
        svg {
            width: 15px;
            height: 15px;
        }
    }
}

//wr-event-video
.wr-event-video {
    background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../media/bg/restaurant.jpg");
    background-repeat: no-repeat;
    background-position: 0 0, center top;
    background-size: cover;
    position: relative;
    .wrapper {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.circle {
    border-radius: 50%;
    background: transparent;
    border: 2px solid #fff;
    width: 245px;
    height: 245px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: 2s;
    }
    .c2 {
        width: 205px;
        height: 205px;
    }
    .c3 {
        width: 165px;
        height: 165px;
    }
    .c4 {
        width: 125px;
        height: 125px;
    }
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95px;
        height: 95px;
        background-color: #ff3a2d;
        border-radius: 50%;
        svg {
            width: 38px;
            height: 40px;
            fill: #fff;
        }
    }
}

.play-video .video {
    position: absolute;
    visibility: hidden;
    background-color: #555;
    border-radius: 6px;
    padding: 8px 0;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play-video .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// wr-event-information
.wr-event-information {
    position: relative;
    height: 500px;
    .sticker {
        width: 350px;
        height: 43px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ff3a2d;
        transform: rotate(-40deg);
        position: absolute;
        top: 50px;
        left: -70px;
        p {
            font-family: "Poppins-semibold", sans-serif;
            font-size: 17.5px;
            color: #ffffff;
        }
    }
    .container {
        overflow: hidden;
        max-width: 1140px;
        padding: 98px 88px;
        box-shadow: 0px 2px 10px 0 rgba(33, 30, 31, 0.3);
        box-sizing: border-box;
        background-color: #ffffff;
        position: absolute;
        top: 0;
        transform: translateY(-40%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h4 {
        font-family: "Poppins-semibold", sans-serif;
        font-size: 26px;
        color: #ff3a2d;
        margin-top: 50px;
    }
    .text {
        line-height: 2;
        margin-top: 34px;
        text-align: center;
    }
    .event-information_footer {
        font-family: "Poppins-semibold", sans-serif;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 73px;
        ul {
            display: flex;
            margin-top: 19px;
            li {
                max-width: 100%;
                height: 100%;
                overflow: hidden;
                margin-right: 27px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        span {
            color: #ff3a2d;
            font-size: 18px;
            margin-bottom: 19px;
        }
        .date {
            display: flex;
            flex-direction: column;
            color: #222;
            font-size: 16px;
        }
        button {
            width: 200px;
            height: 64px;
            padding: 24px 58px 23px;
            background-color: #ff3a2d;
            box-sizing: border-box;
            color: #fff;
            font-size: 16px;
            &:hover {
                background: rgba(0, 0, 0, 0);
                color: #ff3a2d;
                box-shadow: inset 0 0 0 3px #ff3a2d;
                transition: 2s;
            }
        }
    }
}

//wr-feedback
.wr-feedback {
    padding: 146px 0;
    background-color: #ffe8e7;
}

.feedback-card {
    margin-top: 93px;
    display: flex;
    align-items: center;
    justify-content: center;
    .feedback-img {
        width: 300px;
        height: 515px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    svg {
        width: 30px;
        height: 30px;
        fill: #ff3a2d;
    }
    .feedback-block {
        min-height: 515px;
        padding: 88px 85px;
        box-shadow: 0px 2px 10px 0 rgba(33, 30, 31, 0.3);
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        box-sizing: border-box;
        svg {
            width: 67px;
            height: 57px;
        }
        .text {
            width: 600px;
            line-height: 2;
        }
        .signature {
            margin: 0;
        }
        .rating {
            font-size: 16px;
            color: #1c1c1c;
            span {
                color: #ff3a2d;
            }
        }
    }
}

// wr-letter
.wr-letter {
    background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../media/bg/letter.jpg");
    background-repeat: no-repeat;
    background-position: 0 0, center top;
    background-size: cover;
    padding: 200px 0;
    .heading {
        align-items: flex-start;
        h3 {
            color: #fff;
        }
        svg {
            fill: #fff;
        }
    }
    .letter-container {
        display: flex;
        padding-top: 31px;
        p {
            max-width: 574px;
            color: #fff;
            line-height: 2;
        }
    }
    .email-container {
        margin-left: 96px;
        display: flex;
        flex-wrap: nowrap;
        height: 85px;
        input {
            width: 410px;
            height: 100%;
            background-color: #fff;
            box-sizing: border-box;
            padding: 36px 212px 36px 26px;
        }
        button {
            background-image: linear-gradient(to top, #00fff0, #40b1e5);
            width: 90px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                width: 36px;
                height: 36px;
                fill: #fff;
                &:hover {
                    transform: scale(1.3);
                    transition: 2s;
                }
            }
        }
    }
}

//wr-blog
.wr-blog {
    background-color: #ffe8e7;
    padding: 80px 0;
    .button-position {
        .prev-arrow {
            left: -50px;
        }
        .next-arrow {
            right: -50px;
        }
    }
}

.blog-container {
    margin-top: 100px;
}

.blog-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 6px 0 rgba(33, 30, 31, 0.4);
    background-color: #fff;
    padding-bottom: 40px;
    position: relative;
    .gradient:hover {
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.7;
            background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
        }
        .button-blog-card {
            display: block;
        }
    }
    .date-block {
        width: 100px;
        height: 80px;
        position: absolute;
        top: 0;
        z-index: 2;
        background-color: #ff3a2d;
        padding: 20px 24px;
        box-sizing: border-box;
        font-size: 20px;
        color: #ffe8e7;
    }
    .blog-img {
        max-width: 100%;
        height: 402px;
        overflow: hidden;
        position: relative;
        img {
            max-width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .button-blog-card {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
            z-index: 100;
            fill: #fff;
        }
    }
    .article-title {
        max-width: 300px;
        font-family: "Poppins-semibold", sans-serif;
        font-size: 18px;
        color: #222;
        margin-top: 45px;
        line-height: 1.56;
        &:hover {
            cursor: pointer;
            color: #00c5d2;
        }
    }
    p {
        max-width: 300px;
        margin-top: 20px;
        line-height: 1.86;
    }
    .footer-blog {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 19px 37px 19px 33px;
        box-sizing: border-box;
        margin-top: 41px;
        background-color: #ff3a2d;
        width: 100%;
        max-height: 50px;
        svg {
            max-height: 14px;
            max-width: 18px;
            fill: #fff;
            margin-right: 5px;
        }
        a {
            display: inline-flex;
            align-items: center;
        }
        button {
            display: inline-flex;
            align-items: center;
            color: #fff;
            margin-right: 20px;
        }
    }
}

//wr-contact
.wr-contact {
    padding-top: 80px;
    .wrapper {
        max-width: 100vw;
        padding: 0;
    }
    .map {
        margin-top: 80px;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        iframe {
            width: inherit;
            height: inherit;
        }
    }
}

//wr-open-hours
.wr-open-hours {
    padding: 80px 0;
    .heading {
        align-items: flex-start;
        margin-bottom: 40px;
        svg {
            margin-top: 12px;
        }
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
    }
    .time {
        max-width: 358px;
        ul {
            display: flex;
            flex-direction: column;
            li:not(:last-child) {
                margin-bottom: 40px;
            }
            p {
                font-family: "Poppins-semibold", sans-serif;
                font-size: 20px;
                text-transform: uppercase;
            }
            span {
                color: #222;
                margin-right: 20px;
            }
        }
    }
    form {
        display: flex;
        flex-direction: column;
        min-width: 585px;
        input {
            padding-left: 30px;
            width: inherit;
            border: solid 1px #808080;
            height: 50px;
            font-size: 18px;
            opacity: 0.7;
            margin-bottom: 40px;
        }
        textarea {
            padding: 18px 0 0 30px;
            height: 190px;
            font-size: 18px;
            opacity: 0.7;
            margin-bottom: 40px;
        }
        button {
            width: 124px;
            height: 50px;
            padding: 18px 40px 19px 41px;
            opacity: 0.7;
            background-color: #ff3a2d;
            color: #fff;
            &:hover {
                background: rgba(0, 0, 0, 0);
                color: #ff3a2d;
                box-shadow: inset 0 0 0 3px #ff3a2d;
                transition: 2s;
            }
        }
    }
}

// wr-footer
.wr-footer {
    padding: 80px 0 82px 0;
    background-image: linear-gradient(rgba(255, 232, 231, 0.7), rgba(255, 232, 231, 0.8)), url("../media/bg/footer.jpg");
    h2 {
        font-family: "Lobster-reg";
        font-size: 28px;
        color: #222;
        margin-bottom: 20px;
    }
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.insta-block {
    .foto-container {
        display: flex;
        flex-wrap: wrap;
        max-width: 270px;
        margin-bottom: 35px;
        div {
            width: 80px;
            height: 80px;
            overflow: hidden;
            margin: 0px 5px 5px 0;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .follow {
        svg {
            width: 20px;
            height: 20px;
        }
    }
}

.introduction {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 471px;
    h2 {
        text-align: center;
        margin-top: 45px;
    }
    p {
        text-align: center;
        line-height: 2;
    }
    .logo {
        position: absolute;
        top: 0;
        left: 50%;
        width: 74px;
        height: 62px;
        transform: translate(-50%, -50%);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.tags {
    .tags-container {
        max-width: 350px;
        display: flex;
        flex-wrap: wrap;
        li {
            max-height: 30px;
            padding: 10px 25px;
            background-color: #fff;
            box-sizing: border-box;
            margin-right: 15px;
            margin-bottom: 11px;
            a {
                color: #222;
            }
        }
    }
    .search-footer {
        display: flex;
        flex-wrap: nowrap;
        height: 31px;
        margin-top: 46px;
        input {
            width: 230px;
            height: 100%;
            background-color: #fff;
            box-sizing: border-box;
            padding-left: 16px;
        }
        button {
            background-color: #00c5d2;
            width: 40px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                width: 14px;
                height: 13px;
                &:hover {
                    transform: scale(1.2);
                    transition: 2s;
                }
            }
        }
    }
}

.footer-nav {
    display: flex;
    justify-content: flex-end;
    ul {
        width: 675px;
        display: flex;
        justify-content: space-between;
        li {
            text-transform: uppercase;
            font-family: "Sans-bold", sans-serif;
            a {
                color: #222;
            }
            span {
                color: #00c5d2;
            }
        }
    }
}

@media all and (max-width: 991px) {
    .button-position {
        .prev-arrow,
        .next-arrow {
            width: 25px;
            height: 25px;
        }
    }
    .wr-banner {
        .wrapper {
            height: 100%;
        }
        .search-login {
            p {
                margin-right: 2%;
            }
            .search-container {
                margin-right: 2%;
            }
        }
        .intro {
            margin: 15px 0;
            .intro-btn {
                .btn-about {
                    padding: 8px 10px;
                    height: 36px;
                    width: 110px;
                }
                .btn-menu {
                    padding: 8px 10px;
                    height: 36px;
                    width: 110px;
                }
            }
        }
    }
    .wr-preview {
        .book-table {
            img {
                display: none;
            }
        }
    }
    .wr-promotions {
        .prev-arrow {
            left: -12px;
        }
        .next-arrow {
            right: -12px;
        }
    }
    .wr-about {
        .about-image {
            display: none;
        }
    }
}

@media all and(max-width:880px) {
    .search-login {
        p {
            display: none;
        }
    }
}

@media all and (max-width: 767px) {
    .wr-banner {
        .burger-container {
            height: 60px;
            background-color: #fff;
            position: relative;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .header-burger {
                display: block;
                position: relative;
                width: 30px;
                height: 30px;
                z-index: 1201;
                &.active {
                    position: fixed;
                }
                &.active::before {
                    transform: rotate(45deg);
                    top: 14px;
                }
                &.active::after {
                    transform: rotate(-45deg);
                    bottom: 14px;
                }
                &.active span {
                    transform: scale(0);
                }
            }
            .header-burger span {
                position: absolute;
                background-color: #222;
                left: 0;
                width: 100%;
                height: 2px;
                top: 50%;
                transition: all 0.3s ease 0s;
            }
            .header-burger::before,
            .header-burger::after {
                content: "";
                background-color: #222;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: all 0.3s ease 0s;
            }
            .header-burger::before {
                top: 0;
            }
            .header-burger::after {
                bottom: 0;
            }
            &::after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                border-left: 9999px solid #fff;
                box-shadow: 9999px 0 0 #fff;
            }
        }
        .header-nav {
            // opacity: 0.5;
            display: block;
            position: fixed;
            top: -1000%;
            left: 0%;
            width: 100%;
            height: 50%;
            background-color: #fff;
            z-index: 1200;
            ul {
                z-index: 1;
                flex-direction: column;
                width: 100%;
                margin: 0 auto;
                li {
                    margin: 10px 0 0 0;
                }
            }
            &.active {
                top: 0;
                height: 100%;
            }
        }
        .intro-slide {
            h2 {
                font-size: 24px;
            }
            h3 {
                font-size: 36px;
            }
        }
        .search-login {
            .phone-icon {
                display: block;
            }
            .phone-text {
                display: none;
            }
            .search-container {
                input {
                    width: 90px;
                    padding: 0 0 0 6px;
                }
            }
            .link-login {
                margin-right: 2%;
                width: min-content;
                svg {
                    display: none;
                }
            }
        }
    }
    .wr-promotions {
        padding: 45px 0;
        .swiper-slide-active {
            width: 100%;
        }
        .cards-image {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
    .wr-preview {
        padding: 70px 0;
        .wrapper {
            flex-direction: column;
        }
        .book-table {
            width: 100%;
            min-width: 100%;
            button {
                padding: 12px 0;
            }
        }
        .welcome {
            margin: 0;
            padding: 0;
            width: 100%;
        }
    }
    .wr-about {
        .wrapper {
            padding-top: 55px;
        }
        .about-text {
            width: 100%;
        }
    }
    .wr-delivary {
        padding: 70px 0;
        .information-container {
            flex-direction: column;
        }
        .information-card {
            margin-top: 50px;
        }
    }
    .wr-stuff {
        .ellipse-top {
            top: 50px;
        }
        overflow: hidden;
    }
    .wr-menu {
        .wrapper {
            padding: 70px 0;
        }
        .filter-menu {
            min-width: 100%;
            flex-wrap: wrap;
            justify-content: center;
            li {
                margin: 0 10px;
            }
        }
        .menu-card {
            flex-direction: column;
            flex-grow: 1;
            .food-image {
                height: 200px;
                width: 100%;
                margin: 0;
            }
            .card-text {
                padding: 0;
                margin-top: 10px;
                p {
                    max-width: none;
                }
            }
        }
    }
    .wr-event-information {
        .wrapper {
            padding: 0;
        }
        position: static;
        height: 100%;
        .heading {
            z-index: 2;
        }
        .sticker {
            opacity: 0.7;
        }
        .container {
            box-sizing: border-box;
            position: relative;
            padding: 25px 10px;
            transform: translateY(0);
            box-shadow: none;
            text-align: center;
        }
        .event-information_footer {
            flex-direction: column;
            align-items: center;
            .sponserd {
                display: flex;
                flex-direction: column;
                width: 100%;
                ul {
                    justify-content: space-between;
                    li {
                        margin: 0;
                    }
                }
            }
            .date {
                margin-top: 15px;
            }
            button {
                margin-top: 15px;
            }
        }
    }
    .wr-feedback {
        overflow: hidden;
        .feedback-card {
            flex-direction: column;
            .feedback-img {
                height: 400px;
                width: 100%;
                img {
                    object-position: top;
                }
            }
            .connector {
                transform: rotate(90deg);
            }
            .feedback-block {
                min-height: auto;
                padding: 10px 15px;
                p {
                    margin-top: 15px;
                    width: 100%;
                }
            }
        }
    }
    .wr-letter {
        padding: 100px 0;
        .letter-container {
            flex-direction: column;
            form {
                width: 100%;
                margin: 20px 0;
                input {
                    padding: 10px 15px;
                    width: 70%;
                }
                button {
                    width: 30%;
                }
            }
        }
    }
    .wr-blog {
        overflow: hidden;
    }
    .wr-open-hours {
        .wrapper {
            flex-direction: column;
        }
        .time {
            ul {
                p {
                    font-size: 15px;
                }
            }
        }
        form {
            margin-top: 20px;
            min-width: auto;
        }
    }
    .wr-footer {
        .footer-container {
            flex-direction: column;
            text-align: center;
            align-items: center;
        }
        .introduction {
            margin-top: 50px;
        }
        .footer-nav {
            margin-top: 25px;
            ul {
                width: 100%;
                flex-wrap: wrap;
                justify-content: flex-end;
                li {
                    margin-right: 5px;
                }
            }
        }
        .insta-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            .foto-container {
                justify-content: center;
            }
        }
    }
}