@import "./reset.scss";
@import "./fonts.scss";
@import "./settings.scss";
.wr-banner {
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../media/bg/banner.jpg") 0 0 no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    padding: 26px 0 35px;
}

.search-login {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 0.13px;
    padding-bottom: 26px;
    p {
        color: #fff;
        line-height: 1.07;
        margin-right: 310px;
        a {
            color: #ff3a2d;
        }
    }
    .link-login {
        display: flex;
        align-items: center;
        width: 64px;
        margin-right: 40px;
        svg {
            width: 18px;
            height: 18px;
            margin-right: 13px;
        }
    }
}

.search-container {
    position: relative;
    margin-right: 168px;
    input {
        position: absolute;
        left: -170px;
        width: 200px;
        height: 28px;
        opacity: 0.7;
        border-radius: 6px;
        background-color: #fff;
        box-sizing: border-box;
        padding: 8px 35px 7px 15px;
        font-family: "Sans-semibold", sans-serif;
    }
    button {
        position: relative;
        z-index: 2;
        background-color: #ff3a2d;
        width: 30px;
        height: 28px;
        border-radius: 0 6px 6px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            width: 14px;
            height: 13px;
        }
    }
}

.header-nav {
    background-color: #fff;
    font-family: "Sans-bold", sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 0;
    justify-content: flex-end;
    position: relative;
    a {
        color: #222;
    }
    svg {
        width: 23px;
        height: 19px;
        margin-left: 32px;
    }
    ul {
        display: flex;
        flex-direction: row;
        text-transform: uppercase;
        padding: 0;
    }
    li {
        list-style: none;
        margin-left: 32px;
        z-index: 100;
    }
    .link-btn {
        width: 120px;
        height: 28px;
        background-color: #ff3a2d;
        text-transform: uppercase;
        color: #fff;
        border-radius: 0 6px 0 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 32px;
        z-index: 100;
    }
}

.header-nav:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -9999px;
    right: 0;
    border-left: 9999px solid #fff;
    box-shadow: 9999px 0 0 #fff;
}

.intro {
    margin-top: 218px;
    text-align: center;
    h1 {
        font-family: "Sacramento-reg", sans-serif;
        color: #00c5d2;
        font-size: 36px;
    }
    h2 {
        font-family: "Lobster-bold", sans-serif;
        color: #fff;
        font-size: 48px;
        text-transform: capitalize;
        margin-top: 24px;
        margin-bottom: 34px;
    }
    p {
        font-family: "Poppins-medium", sans-serif;
        font-size: 16px;
        color: #fff;
        line-height: 1.75;
        letter-spacing: 0.1px;
        text-align: center;
        margin-bottom: 60px;
        max-width: 800px;
    }
    .intro-btn {
        font-family: "Poppins-semibold", sans-serif;
        text-transform: uppercase;
        font-size: 16px;
        display: flex;
        .btn-about {
            width: 150px;
            height: 50px;
            border-radius: 6px;
            border: solid 2px #ff3a2d;
            padding: 17px 33px;
            box-sizing: border-box;
            margin-right: 45px;
        }
        .btn-menu {
            width: 150px;
            height: 50px;
            border-radius: 6px;
            border: solid 2px #ff3a2d;
            padding: 17px 34px;
            background-color: #ff3a2d;
            box-sizing: border-box;
        }
    }
    .intro-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.pagination-position {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 200px;
    .swiper-pagination {
        position: absolute;
        z-index: 2;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        margin-top: 186px;
        box-sizing: content-box;
    }
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        border-radius: 3.5px;
        background-color: #fff;
        margin-right: 8px;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        height: 20px;
        background-color: #ff3a2d;
    }
}